$primary-color: rgb(153, 11, 18);
$text-color: #4d4d4d;
$white: #fff;

.actived-menu-nav {
  color: $primary-color;
}

.wd-full {
  width: 100% !important;
}
#history {
  .year {
    margin-top: 55px;
    strong {
      color: #424242;
      font-size: 24px;
      margin-bottom: 35px;
      display: block;
    }
    .month {
      padding-left: 25px;
      color: #b0b0b0;
      position: relative;
      padding-bottom: 40px;
      border-left: 1px solid #e0e0e0;
      margin-left: 62px;
      em {
        font-style: normal;
        width: 60px;
        position: absolute;
        margin-left: -72px;
        top: -5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          margin-right: 8px;
          background: #ff6700;
        }
      }
      .text {
        margin-left: 42px;
        margin-top: -22px;
        padding-left: 30px;
        font-weight: 300;
        p {
          color: #757575;
          font-size: 14px;
          line-height: 1.5;
          margin: 0;
          padding-bottom: 10px;
          text-indent: 0;
          span {
            display: inline-block;
            width: 4em;
            margin-right: 1em;
            text-indent: 0;
          }
        }
      }
    }
  }
}
.sub-page {
  .section {
    padding: 35px 20px;
  }
  .container {
    padding: 30px;
    box-shadow: 0px 2px 5px #ddd, 0px -1px 2px #ddd;
    .menu-nav {
      text-align: center;
      flex: 1;
      &-title {
        padding-bottom: 20px;
        font-size: 1.2rem;
        // text-align: left;
        border-bottom: 1px solid #ccc;
      }
      &-list {
        li {
          margin: 5px 0;
        }
        a {
          color: $text-color;
          width: 100%;
          padding: 20px;
          display: block;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .container-content {
      min-height: 800px;
      width: 75%;
      flex: 3;
      p {
        line-height: 2rem;
      }
      .titles {
        margin-bottom: 20px;
        text-align: center;
        .tag {
          font-size: 1rem;
          font-weight: 500;
          color: $primary-color;
        }
        .ti {
          text-align: center;
          line-height: 2rem;
           &:before, &:after {
            content: "";
            margin: 0 10px;
            width: 35px;
            height: 2px;
            display: inline-block;
            vertical-align: middle;
            background-color: $primary-color;
          }
        }
      }
      .news-contents {
        margin-top: -1rem;
        .news-title {
          margin: 1rem 0;
          padding-bottom: 1rem;
          text-align: center;
          line-height: 2em;
          border-bottom: 1px dotted #ccc;
        }
        .contents {
          margin: 1rem 0;
          text-align: center;
          p {
            margin: .7rem 0;
            text-align: left;
            text-indent: 2em;
          }
          img {
            margin: .7rem;
            max-width: 100%;
          }
        }
      }
      .imglist {
        img {
          width: 45%;
          margin: 2%;
          &:hover {
            transform: scale(1.05, 1.05);
          }
        }
      }
      .news-list {
        min-width: auto;
      }
    }
  }
  .text {
    line-height: 2em;
    text-indent: 2rem;
  }
}
@media (max-width: 768px) {
  .sub-page .container {
    flex-wrap: wrap;
  }
  .sub-page .container .menu-nav {
    width: 100%;
    flex: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .menu-nav-title {
      width: 100%;
    }
    .menu-nav-list {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      li {
        padding: 5px;
        width: 50%;
      }
      a {
        padding: 0;
      }
    }
  }
  .sub-page .container .container-content {
    min-height: auto;
    width: 100%;
    .news-list {
      .news-date, .news-content {
        display: block;
      }
      .news-date {
        width: auto;
        span {
          margin-right: .5rem;
          font-size: 1rem;
          display: inline-block;
        }
      }
      .news-content {
        margin: 0;
        width: 100%;
      }
    }
  }
}
